<!DOCTYPE html>
<html>
<head>
  <title>Advertising</title>
</head>

<body>
<div id="bg">
<app-navbar></app-navbar>

<div class="row">

  <div class="col col-sm-12 col-md-6 col-lg-6">
    <div style="padding-top: 200px; padding-left: 20px">
      <div class="jasmine-banner"><h1 ><font color="#00ced1" >Hire expert designers for your any <br> job, online</font></h1></div>
      <br>
      <div style="padding-left: 170px">
        <button type="button" class="btn btn-success">
          <a href="#" routerLink="/designerReg"><font color="white">I Want Work</font></a>
        </button>
        <font color="#f0ffff"> or </font>
        <button type="button" class="btn btn-success">
          <a href="#" routerLink="/customerReg"><font color="white">I Want Hire</font></a>
        </button>

      </div>

    </div>
  </div>

<div class="col col-sm-12 col-md-6 col-lg-6">
  <br>
  <img src="https://yokoent.com/images/person-png-office-12.png" alt="fix">
</div>
</div>
  <div class="row">
    <div class="col col-sm-12 col-md-6 col-lg-6">
      <img src="https://image.freepik.com/free-psd/abstract-background-design_1297-73.jpg" alt="grapghic">

    </div>
    <div class="col col-sm-12 col-md-6 col-lg-6">
      <font color="#ffebcd">
      <h1 align="center">How it works?</h1>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci, a
        speriores assumenda at atque autem eveniet impedit in magnam minus molestiae necessitatibus
        neque nesciunt nihil officia tenetur veniam. Deserunt, voluptatum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eum ex explicabo facilis inventore ipsum, laudantium minus, natus, nemo optio placeat sit suscipit? Commodi culpa eligendi eos eveniet labore, libero!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at nemo nisi officia possimus suscipit voluptatem. Ab, accusantium architecto dignissimos dolorem esse expedita impedit nesciunt qui repudiandae similique veritatis voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa dicta ducimus enim explicabo facere facilis fugit iure laboriosam modi, mollitia quos velit? Aperiam debitis dolores eveniet minus molestiae tempore.
      </p>
      </font>
      <div>
        <a href="#" routerLink="/designerList"><h6>Show all Designers</h6></a>
      </div>
    </div>


  </div>
  <app-footer></app-footer>

</div>
</body>
</html>
