<nav class="navbar navbar-expand-lg navbar-light bg-outline-primary">
  <a class="navbar-brand" href="#">Catogaries:</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="outline">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Logo Design <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Banner Design</a>
        <a class="nav-item nav-link" href="#">Flyers Design</a>
        <a class="nav-item nav-link" href="#" >Brochers Design</a>
        <a class="nav-item nav-link" href="#" >Posters Design</a>
        <a class="nav-item nav-link" href="#" >Vector Tracing</a>
        <a class="nav-item nav-link" href="#" >Photoshop Editing</a>
      </div>
    </div>
  </div>
</nav>
