<html>
<head>
  <title>
    Designer Registration
  </title>
</head>

<body>
<div>
  <div>
     .
  </div>
  <div class="row">
    <div class="col col-sm-12 col-md-4 col-lg-4"></div>
    <div class="col col-sm-12 col-md-4 col-lg-4">
      <div class="frm2">
        <h3>Fill this form to register with us</h3>
        <form   >
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4"><b>Email</b></label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">

              <label for="inputpassword"><b>password</b></label>
              <input type="password" class="form-control" id="inputpassword" placeholder="password">

              <label for="inputpassword1"><b>password</b></label>
              <input type="password" class="form-control" id="inputpassword1" placeholder="re enter password">

              <label><b>Address</b></label>
              <input type="text"  class="form-control" placeholder="Address1">
              <input type="text"  class="form-control" placeholder="Address2">

              <br><br><label><b>catogaries</b></label><br>
              <input type="checkbox" name="logo" value="logo"> <b>Logo Design</b><br>
              <input type="checkbox" name="banner" value="banner"> <b>Banner Design</b><br>
              <input type="checkbox" name="flyer" value="flyer"> <b>Flyer Design</b><br>
              <input type="checkbox" name="vector" value="vector"> <b>Vector Arts</b><br>
              <input type="checkbox" name="vectorTrace" value="vectorTrace"> <b>Vector Tracing</b><br>

              <input type="submit" class="btn btn-primary" placeholder="Sign Up">
            </div>



          </div>
        </form>
      </div>
    </div>
    <div class="col col-sm-12 col-md-4 col-lg-4"></div>
  </div>
</div>
<app-footer></app-footer>
</body>
</html>
