<html>
<head>
  <title>
    Designer Registration
  </title>
</head>
<app-navbar></app-navbar>
<body class="bg">
<div>
  <div>
     .
  </div>
  <div class="row">
    <div class="col col-sm-12 col-md-4 col-lg-4"></div>
    <div class="col col-sm-12 col-md-4 col-lg-4">
      <div class="frm2">
        <h3>Fill this form to register with us</h3>
        <form   (ngSubmit) = "saveDesigner()">
          <div class="form-row">
            <div class="form-group col-md-12">


              <label for="firstname"><b>First Name</b></label>
              <input type="text"  id="firstname" [(ngModel)] = "selectedDesigner.firstname" class="form-control" name="firstname" placeholder="First Name">

              <label for="lastname"><b>Last Name</b></label>
              <input type="text" id="lastname" [(ngModel)] = "selectedDesigner.lastname" class="form-control" name="lastname" placeholder="Last Name">

              <label for="email"><b>Email</b></label>
              <input type="email" class="form-control" id="email" [(ngModel)] = "selectedDesigner.email" name="email" placeholder="Email">

              <label for="password"><b>password</b></label>
              <input type="password" class="form-control" id="password" [(ngModel)]="selectedDesigner.password" name="password" placeholder="password">

              <label for="address"><b>Address</b></label>
              <input type="text"  id="address" [(ngModel)] = "selectedDesigner.address" name="address" class="form-control" placeholder="Address1">


              <label for="phone"><b>Telephone</b></label>
              <input type="text"  id="phone" [(ngModel)] = "selectedDesigner.phone" name="phone" class="form-control" placeholder="Telephone">


              <!--<br><br><label><b>catogaries</b></label><br>-->
              <!--<input type="checkbox" name="logo" value="logo"> <b>Logo Design</b><br>-->
              <!--<input type="checkbox" name="banner" value="banner"> <b>Banner Design</b><br>-->
              <!--<input type="checkbox" name="flyer" value="flyer"> <b>Flyer Design</b><br>-->
              <!--<input type="checkbox" name="vector" value="vector"> <b>Vector Arts</b><br>-->
              <!--<input type="checkbox" name="vectorTrace" value="vectorTrace"> <b>Vector Tracing</b><br>-->

              <input type="submit" class="btn btn-primary" placeholder="Sign Up">
            </div>



          </div>
        </form>
      </div>
    </div>
    <div class="col col-sm-12 col-md-4 col-lg-4"></div>
  </div>
</div>
<app-footer></app-footer>
</body>
</html>
