<!--<div class="bg">-->
  <!--<h1>SpjArtz</h1><br>-->
  <!--<img src="https://cms-assets.tutsplus.com/uploads/users/442/posts/23535/image/a0009s909d9d.png" alt="image" height="100px" width="50px" align="center">-->
<!--</div>-->
<!--<div class="card" style="width: 13rem;">-->
  <!--<img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="image">-->
  <!--<div class="card-body">-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
  <!--</div>-->
<!--</div>-->

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="frm2">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
