<html>
<head>
  <title>customer registration</title>
</head>
<body class="bg">
<app-navbar></app-navbar>

<div>
  <div class="row">
    <div class="col col-sm-12 col-md-4 col-lg-4"></div>
    <div class="col col-sm-12 col-md-4 col-lar-4">
      <div class="frm2">
        <h3>Fill this form to sign up</h3><br>
        <form >
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Re-enter the Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">First Name</label>
              <input type="text" class="form-control" id="inputFName4" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Last Name</label>
              <input type="text" class="form-control" id="inputLName4" placeholder="Last Name">
            </div>
          </div>

          <div class="form-group col-md-12">
            <label for="inputtelephone">Telephone</label>
            <input type="text" class="form-control" id="inputtelephone" placeholder="Phone No.">
          </div>


          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress1" placeholder="Village">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputAddress2" placeholder="Town">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputAddress" placeholder="City">
          </div>
          <div>
            <h4>
              Click <a href="agreement.html">here</a> to read the agreement
            </h4>
          </div>


          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                accept agreement
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </form>
      </div>

    </div>
    <div class="col col-sm-12 col-md-4 col-lar-4"></div>
  </div>
</div>

<app-footer></app-footer>
</body>
</html>
